body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  width: 30%;
  height: 75px;
  font-size: 40px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #dd0fbb;
}

.button {
  display: block;
  background-color: rgb(224, 224, 224);
}

.calcLayout {
  max-width: 600px;
  margin: auto;
}

.result {
  height: 70px;
  background-color: rgb(224, 224, 224);
  width: 100%;
  color: #282c34;
  font-size: 40px;
}
